[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=/home/samad/DD-Calc/resources/icons/icon_app.png
TryExec=spotify
Exec=/home/samad/DD-Calc/src/./lex
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
GenericName[en_IN]=Calculator
Name[en_IN]=DDC
Comment[en_IN]=Simple Calculator written in C++
